body {
  font-family: 'Inter', sans-serif;
  padding: 1.25rem 2rem;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__rated {
  display: none;
}

.section__rated div {
  display: none;
}

main {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

section {
  margin-bottom: 5rem;
}
.section__title {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav .nav__btn {
  appearance: none;
  border: 0;
  background: none;
}

.nav__Desktop button {
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.nav__Desktop {
  display: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nav .nav__DesktopBtn--SignIn {
  background: none;
  color: black;
}

.nav ul {
  display: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.nav .nav__DesktopBtn--SignOut {
  background: #4717c9;
}

.illustration {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section .section__description {
  font-size: 1.2rem;
  color: #4f4f4f;
  font-weight: lighter;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.section__startLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.section__btn {
  background: #4717c9;
  border: 0;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.section .section__link {
  color: #4717c9;
  font-size: 1.2rem;
  border-bottom: 2px solid #4717c9;
}

.section .section__listInfo ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #4f4f4f;
}

.sectionInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sectionInfo div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionInfo header span {
  font-weight: bold;
  color: #4717c9;
}

.sectionInfo p {
  color: #4f4f4f;
  line-height: 1.8rem;
}

.sectionInfo article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
}

.sectionInfo img {
  width: fit-content;
}

.sectionExample {
  background-color: #4717c9;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 0;
  gap: 3rem;
}

.sectionExample header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sectionExample header .section__title {
  color: white;
  margin-bottom: 0;
}

.sectionExample header .section__btn {
  color: #4717c9;
  background: white;
}

.sectionExample img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionTestimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionTestimonial article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #4f4f4f35;
  border-radius: 8px;
  padding: 1rem;
}

.sectionTestimonial article header {
  display: flex;
  gap: 1rem;
}

.sectionTestimonial article header .sectionTestimonial__testimonialName {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectionTestimonial
  article
  header
  .sectionTestimonial__testimonialName
  span:nth-child(1) {
  color: #4717c9;
}

.sectionTestimonial
  article
  header
  .sectionTestimonial__testimonialName
  span:nth-child(2) {
  color: #4f4f4f;
}

.sectionTestimonial article div {
  line-height: 1.8rem;
}

.sectionTestimonial article footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTestimonial article footer button {
  border: 1px solid #4f4f4f35;
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  color: #4717c9;
  font-weight: bold;
}

footer {
  color: #4f4f4f;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  line-height: 1.8rem;
}

footer span {
  color: black;
  font-weight: bold;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}
/* Small devices (landscape phones, less than 768px) */

@media (min-width: 768px) {
  body {
    padding: 1.25rem 9rem;
  }
  figure {
    display: flex;
    justify-content: center;
  }
  .illustration {
    width: 100%;
  }
  footer {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }

  footer span {
    color: black;
    font-weight: bold;
  }

  footer section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
}

/* Medium devices (tablets, less than 992px)  */

@media (min-width: 992px) {
  body {
    padding: 1.25rem 5rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav__Desktop {
    display: flex;
  }

  .nav ul {
    display: flex;
  }

  .nav__btn {
    display: none;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section__info {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  body {
    padding: 1.25rem 20%;
  }
  .section__rated {
    display: flex;
    gap: 1rem;
  }

  .section__rated div {
    display: flex;
    gap: 5px;
  }

  .section__rated div img {
    width: 20px;
  }
  .illustration {
    width: 90%;
    border-radius: 100%;
  }

  .section__startLinks {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
  }

  .section__btn {
    width: 40%;
  }

  .section__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .section__title {
    font-size: 3.2rem;
  }

  .section .section__listInfo ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .sectionInfo .section__title {
    font-size: 2rem;
    width: 50%;
  }

  .sectionInfo div {
    flex-direction: row;
    gap: 2rem;
  }

  .sectionInfo div h2 {
    font-weight: bold;
  }

  .sectionInfo p {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    width: 90%;
    padding: 0 1rem;
    border-left: 1px solid #471bca42;
    height: 50px;
  }

  .sectionExample {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    padding-bottom: 0;
  }

  .sectionExample header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  .sectionExample img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .sectionTestimonial {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .sectionTestimonial article {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
  }
}
